.attraction-list {
  margin-top: 1rem;

  &__button {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    margin: 0 auto;
  }

  &__card {
    background-size: cover;
    background-position: center;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
    overflow: hidden;
    color: #fff;
  }

  &__overlay {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.2)
    );
    padding: 1rem;
    max-height: 40%;
  }

  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}
